
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<video id="videoplayer" src="@Url.Content("~/video/615f2014-49cf-457e-8a8a-bab52bb88e83_1.%20Project%20%20Overview.mp4")" controls width="450" height="450" loop />